@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --content-primary: rgba(35, 40, 47, 1);
    --content-secondary: rgba(70, 79, 93, 1);
    --content-tertiary: rgba(105, 119, 140, 1);
    --primaryGreen: rgba(43, 201, 154, 1);
    --neutral100: rgba(220, 224, 229, 1);
    --green400: rgba(104, 222, 187, 1);
}

* {
    padding: 0px;
    margin: 0px;
}

/* General CSS Classes*/

.bg-lightgray {
    background-color: rgba(220, 224, 229, 0.16);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.width-padding-center {
    padding: 24px;
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
}

.add-shadow {
    box-shadow: 0px 4px 5px rgba(35, 40, 47, 0.04), 0px 1px 10px rgba(35, 40, 47, 0.01), 0px 2px 4px rgba(35, 40, 47, 0.02);
}

body {
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    text-align: left;
    color: var(--content-primary);
}

p {
    color: var(--content-secondary);
    font-size: 16px;
    line-height: 24px;
}

.normal-links {
    color: var(--primaryGreen);
    text-decoration: none;
    display: inline-block;
    padding-right: 16px;
}

.shadow-underline {
    box-shadow: inset 0 -24px 0 var(--green400); 
}


.overline { 
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: var(--content-tertiary);
}

.display-s {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    color: var(--content-primary);
}

.heading-s {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: var(--content-primary);
}

.body-l {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: var(--content-primary);
}

.body-m {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--content-secondary);
}

.bottom-box { 
    margin-top: 120px; 
    width: 100%
}

.bottom-box-content {
    width: 100%;
    left: 0px;
}

.descriptions {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 56px;
    display: flex;
}

.descriptions :nth-child(3) {
    margin-right: 0px;
}

.what-i-do {
    max-width: 309px;
    width: 100%;
    margin-right: 16px;
}



.what-i-do img{
    margin-bottom: 8px;
}

.what-i-do h1 {
    width: 100%;
    margin-bottom: 4px;
    margin: 0px;
}

.what-i-do p {
    margin: 0px;
    width: 80%;
}

.navbar {
    overflow: hidden;
    width: 100%;
    height: 104px;
    top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
}

.navbar-icons {
    display: flex;
    flex-direction: row;
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sticky {
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.logo {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content {
    margin-top: 160px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.content p {
    margin-bottom: 24px;
}

.content h1:nth-child(2) {
    margin-bottom: 16px;
}

.icon-link {
    width: 65px;
    height: 40px;
    filter: invert(49%) sepia(16%) saturate(500%) hue-rotate(177deg) brightness(90%) contrast(94%);
    transition: transform .1s;
    margin-left: 16px;
}

.icon-link:hover {
    filter: invert(72%) sepia(17%) saturate(1735%) hue-rotate(110deg) brightness(91%) contrast(84%);
    transform: scale(1.1);
}

.social-icon {
    padding-top:8px;
    padding-bottom:8px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}

.cta {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: var(--primaryGreen);
    text-decoration: none;
    display: inline-flex;
    transition: transform .1s;
    margin-bottom: 24px;
    
}

.cta-icon {
    padding-right: 16px;
    transition: transform .1s;
}

.cta:hover, .cta-icon:hover {
    filter: invert(47%) sepia(70%) saturate(402%) hue-rotate(111deg) brightness(100%) contrast(98%);
    transform: scale(1.01);
}

.cta-container {
    margin-top: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
}


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .width-padding-center {
        padding: 24px;
        margin: auto;
    }   
        
    body {
        margin: auto;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
        text-align: left;
        color: var(--content-primary);
    }
    
    p {
        color: var(--content-secondary);
        font-size: 16px;
        line-height: 24px;
    }
    
    a {
        color: var(--primaryGreen);
        text-decoration: none;
        display: inline-block;
        padding-right: 16px;
        padding-bottom: 8px;
    }
    
    .overline { 
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        color: var(--content-tertiary)
    }
    
    .display-s {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 44px;
        color: var(--content-primary);
    }
    
    .body-l {
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 26px;
    }

    .bottom-box { 
        margin-top: 56px; 
        width: 100%
    }
    
    .bottom-box-content {
        width: 100%;
        left: 0px;
    }
    
    
    .navbar {
        overflow: hidden;
        width: 100%;
        height: 88px;
        top: 0px;
        padding-bottom: 0px;
    }

    .navbar-icons {
        visibility: hidden;
    }

    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .logo {
        float: left;
        padding-top: 12px;
        padding-bottom: 12px;
    }    

    .content {
        margin-top: 96px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .descriptions{
        display:flex;
        flex-direction: column;
        padding-top: 32px;
        padding-bottom: 56px;
    }
    
    .what-i-do {
        margin-bottom: 32px;
    }
  }
  