@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --content-primary: rgba(35, 40, 47, 1);
    --content-secondary: rgba(70, 79, 93, 1);
    --content-tertiary: rgba(105, 119, 140, 1);
  }

body {
    max-width: 960px;
    margin: auto;
    margin-top:16%;
    margin-bottom:16%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    color: var(--content-primary);
}

p {
    color: var(--content-secondary);
    font-size: 18px;
}

